/* css areas de interface */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body{
    font-family:'Montserrat' ,Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}

header{
    height: 100px;
    background-color: #000;
    color: #fff;
}

.header{
    display: flex;
    max-width: 1140px;
    height: 100px;
    margin: auto;
    align-items: center;
}

.logo{
    width: 100px;
    
}

.logoimg{
    width: 80px;
    height: 80px;
    background-color: #b28756;
    border-radius: 40px;
}

.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;

}

.menu ul,
.menu li{
    list-style: none;
}

.menu ul{
    display: flex;
}

.menu li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    height: 100px;
    align-items: center;
    border-bottom: 5px solid #000;
    

}

.menu li a:hover,
.menu .active a{
    border-bottom: 5px solid #b28756;
    color: #ccc;
}

.button{
    display: inline-block;
    background-color: #b28756;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
    
}

.banner{
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    
}

.banner .sliders{
    width:1000vw ;
    height: 100%;
   
}

.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0,0,0, 0.8);

}
.banner .slidearea{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.banner h1{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 50px;
}

.banner h1 span{
    color: #b28756;

}

.banner h2{
    text-transform: uppercase;
    margin-top: 20px;
}

.banner .sliders-pointers{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top:-50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    
}

.banner .pointer.active{
    background-color: #b28756;
}

.default{
    
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section-title{
    font-size: 20px;
    

}

.default .section-desc{
    font-size: 12px;
    color: #afafaf;
    margin-top: 10px;
    margin-bottom: 40px;
} 

.default .section-body{
    max-width: 1140px;
    margin: auto;

}

.default.light{
    background-color: #f7f7f7;
}

.default.light .section-title,
.default.light .section-body{
    color: #000;
}

.default.dark{
    background-color: #000;
}

.default.dark .section-title,
.default.dark .section-body{
    color: #fff;
}














/* css de areas especificas */
.section-aboutus{
    display: flex;
}

.section-aboutus--left{
    flex: 1;
}

.section-aboutus--left p {
    font-size: 14px;
    line-height: 25px;
}

.section-aboutus--rigth{
    width: 520px;
    text-align: center;

}

.section-aboutus--rigth img{
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}



.section-services{
    display: flex;
}

.section-service{
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 20px;
}

.section-service:first-child{
    border-left: 1px solid #333;
}

.section-service h4{
    margin-top:20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight:600;
}

.section-service p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}



.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-projects--filters{
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding: 0 20px;
}

.section-projects--filters ul,
.section-projects--filters li{
    list-style: none;

}
.section-projects--filters li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #ccc;
    color: #555;
    border-bottom:3px solid #eee ;
    cursor: pointer;

}
.section-projects--filters li:hover,
.section-projects--filters li.active{
    border-bottom:3px solid #b28756 ;
}

.section-projects--filters li:first-child{
    border-left: 0;
}



.section-projects--photos{
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.section-projects--photo{
    width: 280px;

}

.section-projects--photoarea{
    margin: 10px;
    width: 260px;
    height: 160px;

}

.section-projects--photoarea img{
    width: inherit;
    height: inherit;

}
.section-projects--photoinfo{
    position: absolute;
    background-color: rgba(0,0,0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;


}

.section-projects--photoinfo h5{
    font-size: 18px;
    font-weight: 600;

}
.section-projects--photoarea:hover .section-projects--photoinfo{
    display: flex;
}


.bg--team{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;

}

.section-team-area{
    background-color: rgba(0,0,0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-team{
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}


.section-team .sliders{
    width:1000vw ;
    height: 100%;
   
}

.section-team .slide{
    width: 280px;
    height: 100%;
    display: inline-block;
    background-color: #FFF;
    margin-right: 20px;

}
.section-team .slidearea{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #000;
    padding: 30px;
}

.section-team .sliders-pointers{
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.section-team  .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    
}

.section-team  .pointer.active{
    background-color: #b28756;
}

.section-team--avatar{
    width: 150px;
    height: auto;
}

.section-team--name{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top:30px ;

}

.section-team--role{
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}

.section-team--social{
   display: flex;
   margin-top: 20px;
}

.section-team--social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #ccc;
    border-radius: 13px;
    margin-right: 10px;
}
.section-team--social a:hover{
    background-color: #b28756;
}

.default.light.bg-happy{
    background-color: #e5e5e5;
}

.section-client{
    overflow: hidden;
    max-width: 1140;
    margin: auto;
   
  
}
.section-client .sliders{
    width:1000vw ;
    height: 100%;
    
   
}

.section-client .slide{
    width: 100vw;
    max-width: 1140px;
    height: 100%;
    display: inline-block;
    
   
}

.section-client .slidearea{
    display: flex;
    flex-direction: column;
   
    height: 100%;
    align-items: center;
    justify-content: center;
    color:#000;
}

.section-client-avatar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-client-name{
    padding-top: 15px;
    padding-bottom: 15px;    
}

.section-client--job{
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: 600;
    
}

.section-client--quot{
    margin-bottom: 20px;
}

.section-client--coment{
    text-align: center;
    color: #999;
    font-size: 15px;
}

.section-client .sliders-pointers{
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.section-client  .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    
}

.section-client  .pointer.active{
    background-color: #b28756;
}

.default.light.bg-empresas{
    background-color: #FFF;
}
.section-empresas{
    display: flex;
    justify-content: space-around;
    
}

.default.light.bg-tbprodut{
    background-color: #e5e5e5;
}

.section-table-produt{
    display: flex;
    justify-content: space-around;
}
.section-produt{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    height: 350px;
    width: 256px;
}

.title-produt{
    padding-top:20px ;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.valor-produt{
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
}
.detalhe-produt{
    font-size:12px ;
    color: #7e7e7e;
    text-transform: uppercase;
}

.desc-produt{
    font-size: 11px;
    color: #7d7d7d;
    margin-top: 10px;

}
.tarja-produt{
    width: 10px;
    height: 2px;
    background-color: #7d7d7d;
    margin-top: 10px;
}
.product-button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 15px 35px;
    margin-top: 20px;
    background-color: #373737;
    border-radius: 30px;
}

.product-button:hover{
    background-color: #b28756;
}

.section-premium{
    overflow: hidden;
    border-bottom:1px solid #7d7d7d ;
}

.section-premium .sliders{
    width:1000vw ;
    height: 100%;
    
   
}

.section-premium .slide{
    width: 100vw;
    max-width: 1140px;
    height: 100%;
    display: inline-block;
    
   
}

.section-premium .slidearea{
    display: flex;
    flex-direction: row;
   
    height: 100%;
    align-items: center;
    justify-content: center;
    color:#000;
}
.premium-area{
   margin-left: 50px;
}

.premium-contentt{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.desc-premium{
    margin-left: 20px;
}

.premium-title{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    

}
.premium-descri{
    color: #7d7d7d;
}
.premium-feature{
    margin-top: 10px;
    text-transform: uppercase;
    color: #7d7d7d;
}

.point-premium .sliders-pointers{
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.point-premium .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    
}

.point-premium .pointer.active{
    background-color: #b28756;
}
.point-premium .premium-button{
    display: flex;
    justify-content: center;
    align-items: center;
}


.some-facts-area{
    display: flex;
    justify-content: space-around;
}

.some-facts-content{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.some-title{
    color: #b28756;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
}

.some-bara{
    width: 30px;
    height: 3px;
    background-color: #7e7e7e;
    margin-top: 10px;
}
.some-subtitle{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-top: 15px;
}

.some-desc{
    font-size: 14px;
    color: #6c6c6c;
    text-align: center;
    margin-top: 15px;
}

.section-redes-line{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 800px;
    margin: auto;
}
.section-share-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
.share-text{
    text-transform: uppercase;
    color: #7e7e7e;
    font-size: 20px;
    font-weight: 600;
    margin-left: 15px;
}
.rede-area-logo a{
    display: inline-flex;
    text-decoration: none;
    padding-left: 10px;
    text-align: center;
    line-height: 40px;
    color: #7e7e7e;
    font-weight: 600;
}

.rede-area-logo.t a img {
    background-color: #34c5f1;
    display: inline-block;
    height: 35px;
    width: 35px;
    padding: 9px;
    object-fit: contain;
    border-radius:18px;
    margin-right: 10px;

}
.logo-li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    border-radius: 18px;
    background-color: #137cb5;
}
.logo-li img{
        width: 15px;
}
.rede-area-logo.l a{
    padding: 5px;
    border-radius: 18px;
    display: inline-flex;
}

.rede-area-logo.f a img {
    background-color: #336296;
    display: inline-block;
    height: 35px;
    width: 35px;
    padding: 9px;
    object-fit: contain;
    border-radius:18px;
    margin-right: 10px;

}
.rede-area-logo.g a img {
    background-color: #e64236;
    display: inline-block;
    height: 35px;
    width: 35px;
    padding: 10px;
    object-fit: contain;
    border-radius:18px;
    margin-right: 10px;

}
.rede-area-logo.p a img {
    background-color: #b81c29;
    display: inline-block;
    height: 35px;
    width: 35px;
    padding: 10px;
    object-fit: contain;
    border-radius:18px;
    margin-right: 10px;

}
.formulario-area{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.name{
    width: 255px;
    outline: none;
    font-size: 20px;    
    line-height: 30px;
    border-style: none;
    border-bottom:2px solid #9e9e9e ;
    color:#9e9e9e ;
    background-color: #e5e5e5;
    margin-right: 25px;
}
.email{
    width: 255px;
    outline: none;
    font-size: 20px;    
    line-height: 30px;
    border-style: none;
    border-bottom:2px solid #9e9e9e ;
    color:#9e9e9e ;
    background-color: #e5e5e5;
    
}
.subject{
    margin-top: 35px;
    width: 540px;
    outline: none;
    font-size: 20px;    
    line-height: 30px;
    border-style: none;
    border-bottom:2px solid #9e9e9e ;
    color:#9e9e9e ;
    background-color: #e5e5e5;
}

.message{
    margin-top: 50px;
    width: 540px;
    outline: none;
    font-size: 20px;    
    line-height: 30px;
    border-style: none;
    border-bottom:2px solid #9e9e9e ;
    color:#9e9e9e ;
    background-color: #e5e5e5;
}
.bt-form{
    margin-left: 180px;
    margin-top: 50px;
    border: none;
    cursor: pointer;
}

.section-map{
    background-image: url(../images/mapa.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-map-area{
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}

.section-map-info{
    width: 50%;
    padding: 30px;
    background-color: #fff;
    color: #999;

}
.section-map-info-item{
    display: flex;
    align-items: center;
    margin-top: -10px;
    margin-bottom: -15px;
}
.section-map-info-img{
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #999;
    border-radius: 15px;
    margin-right: 15px;
}
.section-map-info-img img{
    width: 15px;
    height: auto;
}

.rodape-area{
    display: flex;

}
.rodape-social{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.social-area{
    display: flex;
    justify-content: space-around;


}
.logo-social{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 50px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #373737;
}
.logo-social:first-child{
    justify-content: none;
}
.logo-social a img{
    align-items: center;
    justify-content: center;
    object-fit: contain;
}
.ytb,
.insta,
.tresp{
    width: 20px;
    height: 20px;
}
.logo-social:hover{
    background-color: #b28756;
}

.awar-copirigth{
    display: flex;
    align-items: flex-end;
    font-size: 18px;
    justify-content: flex-start;
    margin-top: 80px;
    font-weight: 600;
}
.rodape-text{
    flex: 1;
    margin-left: 50px;
    text-align: center;
    font-size: 14px;
    color: #7e7e7e;
    
}
.rodape-form{
    flex:1;
    display: flex;
    justify-content: center;
    height: 200px;
    padding: 30px;
    align-items: center;
    margin-left: 50px;
    background-color: #373737;
    
}
.rodape-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#subs-rodape{
    width: 255px;
    outline: none;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;    
    line-height: 30px;
    border-style: none;
    border-bottom:2px solid #9e9e9e ;
    color:#9e9e9e ;
    background-color: #373737;
}